[2018-09-27 20:10] geral2 opened #2 "HTTP Authorization header is not supported"
Actually, the generics POST/GET procedures doesn't support HTTP authorization header. For instance, when the API required a token authorization we can't send it.

[2018-09-28 04:16] #2 closed

[2018-11-20 21:09] lawrenceong001 opened #7 "Installation on Windows Server 2016 / SQL 2012 SP4 Fails"
when i try to create the assembly api_consumer, I'm faced with the error message:
Msg 6586
Assembly 'System.Net.Http' could not be installed because existing policy would keep it from being used.

[2018-11-20 21:12] lawrenceong001 commented on #7
it looks like if I installed it from the framework folder (v4.0.30319) it works. however, it appears that this is an older version (4.0.0.0) whereas the one bundled is 4.0.1.0.

[2018-11-21 03:09] lawrenceong001 commented on #7
hi,
the framework is v4.0.30319. this was a base install of windows 2016. the file version is 4.7.2661.0.

I'm also getting some other specific issues:
1. SQL 2012 does not allow default parameters for CLR (Default parameter values for CLR types, nvarchar(max), varbinary(max), and xml are not supported.)
2. OPENJSON is not available for SQL 2012.

tks
lawrence

[2018-11-21 03:16] lawrenceong001 commented on #7
I remove the default parameters, and avoided the use of OPENJSON (used the function mentioned here: https://www.red-gate.com/simple-talk/sql/t-sql-programming/consuming-json-strings-in-sql-server/). it seems to be working now. I noticed, though, the first call took a substantial amount of time to execute.

tks
Lawrence

[2018-11-21 14:22] geral2 commented on #7
You are right, this was developed for SQL Server 2016. And as you realized OPENJSON is optional. I will update the readme file with this that you found. I really appreciate your feedback since this will help other people that facing same error..

[2018-11-23 16:46] #7 closed

[2018-11-29 03:54] lawrenceong001 commented on #7
hi -- yes this is now resolved. sorry for the late note as I'd been working on another issue.

[2018-11-29 03:56] lawrenceong001 opened #8 "apicaller_get returns only 3998 characters of the web api..."
hi again,

it looks like, at least from my end, that i'm only getting 3998 characters back from the query. I've tried using SSMS, SQLCMD, as well as OSQL, but they don't seem to give me back the entire object. have you tried this and if so how do you test if the entire object or string is returned?

tks
Lawrence

[2018-11-30 03:47] geral2 commented on #8
@lawrenceong001  Could you give a try?

[2018-11-30 03:47] #8 closed

[2018-11-30 13:14] lawrenceong001 commented on #8
let me grab the latest and give it a whirl -- tks

[2019-03-15 15:04] AndyStobirski opened #9 "Unable to install key.pfx due"
~~Apparently, I'm missing a password~~

~~A straightforward compile produces the following message:~~

~~Error 03325: Cannot import the following key file: Key.pfx. The key file may be password protected. To correct this, try to import the certificate again or manually install the certificate to the Strong Name~~

~~Attempting to use the following:~~

~~C:\Program Files (x86)\Microsoft SDKs\Window

[2019-03-15 15:19] geral2 commented on #9
Any another issue just let me know.

[2019-03-15 15:19] #9 closed

[2019-03-18 16:25] HigginDazs opened #10 "Can't Find StoredProcedure"
Able to create the CLR Assembly, but receive an error when I try to create the CLR Stored Procedures:

`Could not find Type 'StoredProcedures' in assembly 'APIConsumer'.`

Perhaps I have missed a step or failed to build the Assembly correctly? I found Step 5 in the Readme a little unclear.

[2019-03-18 16:52] HigginDazs commented on #10
Apologies, I realised I had built from the wrong dll. Closing now.

[2019-03-18 16:52] #10 closed

[2019-03-18 17:37] geral2 commented on #10
I tried to clarify Step 5. Thank you!

[2019-05-01 15:49] deansterdean opened #11 "Authoriziation"
Thanks for the readme update,  Once I pulled the files into my CLR I was able to create the calls and run the samples.  Now I am making a call to a third party to retrieve Json formatted data. In Postman I send the string with Basic Auth entering my username and password.  The  authorization header is automatically generated on the send to allow the access.
Do you have an API_Consumer proc that us

[2019-05-01 16:16] geral2 commented on #11
Hey, I will take a look to it at night, and I'll update the code. I think that actually we just can send credentials in Post method as JsonBody.

Is that a public service that I can test?

[2019-05-01 20:33] deansterdean commented on #11
I really do appreciate your quick response and help but Unfortunately this is not something we can use for test  since it is a private service that we have purchased and contains sensitive data.

________________________________
From: Geraldo Diaz <notifications@github.com>
Sent: Wednesday, May 1, 2019 12:16 PM
To: geral2/SQL-APIConsumer
Cc: deansterdean; Author
Subject: Re: [geral2/SQL-APIConsume

[2019-05-01 21:19] geral2 commented on #11
Don't worry I will create an API to try to reproduce this scenario. I will let you know tonight.

[2019-05-01 22:27] geral2 commented on #11
@deansterdean before doing anything could you please try this:

[code]

[2019-05-03 20:39] geral2 commented on #11
This was already covered on bug #2. Instead of sending token send the Basic Auth, like this:

[code]

[2019-05-03 20:39] #11 closed

[2019-05-09 08:44] mostafahk opened #12 "Problem with UTF8"
It returns ????? when UFT charset is in responce.

In APIConsumer.cs :

modify :
using (var streamReader = new StreamReader(httpResponse.GetResponseStream()))
to:
using (var streamReader = new StreamReader(httpResponse.GetResponseStream(),Encoding.UTF8) )

Thnks

[2019-05-09 10:45] mostafahk commented on #12
I fixed by adding this too:
JsonConvert.ToString(unicodestring, '"', StringEscapeHandling.EscapeNonAscii);

[2019-05-09 11:14] mostafahk commented on #12
I'm sorry to say again 😭
I used this function in response string and worked very fine.

static string EncodeNonAsciiCharacters(string value)
        {
            StringBuilder sb = new StringBuilder();
            foreach (char c in value)
            {
                if (c > 127)
                {
                    // This character is too big for ASCII
                    string encodedValue

[2019-05-10 01:31] geral2 commented on #12
@mostafahk Could you please upload the error that it's throwing?.

[2019-08-02 20:06] bierfust opened #13 "CREATE ASSEMBLY for assembly 'API_Consumer' failed because assembly 'API_Consumer' is malformed or not a pure .NET assembly."
When I try:

**STEP 1**
First, Let's create our Assembly:

CREATE ASSEMBLY [API_Consumer]
AUTHORIZATION dbo
FROM  N'C:\CLR\API_Consumer.dll'
WITH PERMISSION_SET = UNSAFE

================================
**I got this error message:**
CREATE ASSEMBLY for assembly 'API_Consumer' failed because assembly 'API_Consumer' is malformed or not a pure .NET assembly.
Unverifiable PE Header/native stub.

Than

[2019-08-02 20:54] geral2 commented on #13
Hey there,

What SQL Server's version are you running?

Could you give a try with this code snippet:

[code]

[2019-08-03 04:24] bierfust commented on #13
Thanks for your quick response. I really appreciate it!

I am using SQL express 2017 64 bit.

When I run your code:

[code]
 **I get this error message**
Assembly 'newtonsoft.json, version=11.0.0.0, culture=neutral, publickeytoken=30ad4fe6b2a6aeed.' was not found in the SQL catalog.

[2019-08-03 04:30] geral2 commented on #13
That means it worked, so you need to run Step 3 in order to load Json assembly before creating this one.

[code]

[2019-08-03 04:37] bierfust commented on #13
I allready did, however it is a different version.

**Assembly "Newtonsoft.Json" version 12.0 already exists in my database.**
![Version NewtonsoftJPG](https://user-images.githubusercontent.com/53626051/62407462-2d97a180-b5b9-11e9-9df0-bc2961d550f6.JPG)

[2019-08-03 05:01] geral2 commented on #13
Could you try to copy Newtonsoft.Json version 11.0.0 located in SQL-APIConsumer/API_Consumer/dll/ to a folder you have access from SQL.

CREATE ASSEMBLY [Newtonsoft.Json]
AUTHORIZATION dbo
FROM N'C:\CLR\Newtonsoft.Json.dll'
WITH PERMISSION_SET = UNSAFE

[2019-08-03 05:18] bierfust commented on #13
-  I have deleted Newtonsoft.Json version 12.0.0 from my database.
-  I have downloaded Newtonsoft.Json version 11.0.0 located in SQL-APIConsumer/API_Consumer/dll/
- I have tried to create the assembly Newtonsoft.Json

[code]

**I get the error message**
CREATE ASSEMBLY for assembly 'Newtonsoft.Json' failed because assembly 'Newtonsoft.Json' is malformed or not a pure .NET assembly.
Unverifiable P

[2019-08-04 00:53] geral2 commented on #13
Let's try to do same that we did before, I created it in my 2017 environment.  Let me know what you get after running the attached script.

[NewtonSoftJson Script.txt](https://github.com/geral2/SQL-APIConsumer/files/3464469/NewtonSoftJson.Script.txt)

[2019-08-04 05:30] bierfust commented on #13
Commands completed successfully.

![Version Newtonsoft v11](https://user-images.githubusercontent.com/53626051/62419823-7880ea00-b689-11e9-94ff-9be7d41a6dfe.JPG)

[2019-08-04 16:31] geral2 commented on #13
Perfect!... after that you should be able to create [API_Consumer] assembly.
Did you?

[2019-08-04 18:15] bierfust commented on #13
**Unfortunately, I keep getting the same error**
Msg 6544, Level 16, State 1, Line 1
CREATE ASSEMBLY for assembly 'API_Consumer' failed because assembly 'API_Consumer' is malformed or not a pure .NET assembly.
Unverifiable PE Header/native stub.

[2019-08-04 18:20] geral2 commented on #13
Even using the binary code?

[code]

[2019-08-04 18:34] bierfust commented on #13
The binary code did install the assembly.

If I then do step 2
[code]

**I get this error**
Msg 6506, Level 16, State 1, Procedure APICaller_GET, Line 1 [Batch Start Line 14]
Could not find method 'APICaller_GET' for type 'StoredProcedures' in assembly 'API_Consumer'

[2019-08-04 18:37] geral2 commented on #13
But it did appear at least at the asseblies list?

Do you have Skype or something?

[2019-08-04 18:40] geral2 commented on #13
Try this last thing:

[code]

[2019-08-04 18:48] bierfust commented on #13
That last thing did work! :)

![Result](https://user-images.githubusercontent.com/53626051/62427819-19f35480-b6f9-11e9-9835-5f0cda423e21.JPG)

Thank you for all your effort! I really appreciate it.

[2019-08-04 20:07] geral2 commented on #13
Nice, you are welcome. Any another issue or question please let me know.
I'll add those scripts to the readme.

Can I close this bug?

[2019-08-04 20:50] #13 closed

[2019-08-07 20:58] bierfust opened #14 "Authentication"
I'm trying to do an api call where an apiKey and a secretKey is required. I'm using APICaller_GETAuth. I get an error: "The remote server returned an error: (401) Unauthorized."

Am I using the APICaller_GETAuth incorrectly? Do you have maybe recommendations how I could change the TSQL code so that the api call will work?

More information about the REST API can be found here:
https://github.com/b

[2019-08-08 04:53] geral2 commented on #14
Hello there,

I'm working in an update that would allow you call an API and send multiple customize Header for instance X-MBX-APIKEY, and Authorization. It will also show the correct error returned by the Server.

Tomorrow I will upload it. But in advance those are error for the API. I have a Binance account, I did configured the API managment, when I was trying to call the accout end point it was

[2019-08-10 06:33] bierfust commented on #14
I found this for error -1021:

1. https://github.com/sammchardy/python-binance/issues/238

**Solution 1**
My system's time was out of sync with Binance's, despite it being automatically set. Changed the time server and my problem was solved.

Or maybe you can set a fixed value for the recvWindow.

[code]

**You get this URL**
https://api.binance.com/api/v3/account?timestamp=1565418598807&recvWindo

[2019-08-12 18:21] ram140281 opened #15 "Could not create SSL/TLS secure channel."
Hello,

When I am trying to connect secure URL and getting an error "Could not create SSL/TLS secure channel."

I am using SQL Server 2017.

[code]

[2019-08-13 05:25] ram140281 commented on #15
Any suggestion Bro!

[2019-08-13 12:36] geral2 commented on #15
Sorry for the late response. Yes, saw a property that could be added to the web method I will modify it and let you know tonight.

[code]

[2019-08-14 04:04] geral2 commented on #14
Hey bro, I just updated the repo in which I show the correct servers errror. I also added some utilities methods that could help calling the Binance API.

select [dbo].[GetTimestamp]()
 --Set TimeStamp parameter
select @timeStamp = CONCAT(@timeStamp, [dbo].[GetTimestamp]())

--Set Signature parameter
SELECT @Signature = [dbo].[Create_HMACSHA256](@timeStamp,@secretKey)

I tested with my account, an

[2019-08-14 04:07] geral2 commented on #15
Hey bro, I just uploaded a new version adding the code above. Could you please give a try and let met know.

[2019-08-15 02:11] #14 closed

[2019-08-15 08:24] ram140281 commented on #15
Hi Geral,

I tried using new code but now I getting error "Object reference not set to an instance of an object."

exec  [dbo].[APICaller_POST]
    	 @URL = 'https://{SOME_SECURE_URL}'
    	,@JsonBody = '{"password":"*****"}'

[2019-08-16 14:01] ram140281 opened #16 "Object reference not set to an instance of an object"
Hi Geral,

I tried using new code but now I getting error "Object reference not set to an instance of an object."

exec [dbo].[APICaller_POST]
@url = 'https://{SOME_SECURE_URL}'
,@JsonBody = '{"password":"*****"}'

[2019-08-17 20:46] geral2 commented on #15
Hey @ram140281  could you please give a try again.

I just fixed it. I tested using the code below. in a local web service.

EXEC [dbo].[APICaller_POST]
	@URL = 'https://localhost:44390/api/libros'
	,	@JsonBody = '{
						"Titulo" : "El principito",
						"AutorId": 2
					 }'

exec [APICaller_GET]	@URL = 'https://localhost:44390/api/libros'

[2019-08-17 20:46] #15 closed

[2019-08-17 20:47] geral2 commented on #16
Bro, I just fixed it!.

[2019-08-17 20:47] #16 closed

[2019-08-18 13:05] ram140281 commented on #15
Nothing fixed. I am not going to follow it anymore.
Thanks

[2019-08-18 16:47] geral2 commented on #15
Did you re-deploy the new changes properly?. Did your API worked through PostMan?.

It was throwing same error before I deployed the new changes.

[2019-09-03 15:38] bierfust opened #17 "Get JSON call output into table"
I am trying to get the output of a JSON call into a table. However, the columns price_bids, quantity_bids, price_asks, quantity_asks are getting a NULL value.

I hope you could help. Many thanks in advance.

[code]

[2019-09-04 00:31] geral2 commented on #17
Hey dude,

Try doing this:

[code]

[2019-09-05 14:54] #17 closed

[2019-10-07 10:27] magiva opened #18 "building fails"
if i build this, it says it cannot use the key as its password protected
if i replace the key and build, it says it cannot use newtonsoft.json

[2019-10-07 15:46] geral2 commented on #18
Hello there,

I will take a look tonight. So far could you try doing this [Issue 9](https://github.com/geral2/SQL-APIConsumer/issues/9).

[2019-10-07 21:13] valentinb1 opened #19 "APICaller_GETAuth returns max of 65,535 chars"
I am running into issue where APICaller_GETAuth is cutting-off the Json string at 65535. Perhaps there is a "ushort" counter somewhere that is creating this issue. Would you please look into this. I was attempting to debug but the project would not compile because of the "Importing key file was canceled" issue.

The test SQL I used is:
Declare @ts as table(Json_Table nvarchar(max))
INSERT INTO @ts

[2019-10-07 21:20] geral2 commented on #19
Hello,

I will take a look in 3 hour when I get home. I'll let you know.

Thanks,

[2019-10-08 01:43] geral2 commented on #19
Hey @valentinb1 , I'm trying to reproduce the issue, Could you please email me the bearer key to geraldo.diaz@hotmail.com?

[2019-10-08 02:02] valentinb1 commented on #19
Hi Geraldo. I tried to email you but was rejected with: VI1EUR04FT057.mail.protection.outlook.com gave this error:
Requested action not taken: mailbox unavailable.
Here is the Token: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJjb21wYW55SWQiOiIyODEyNzYiLCJpc3MiOiJhZ2lsaXMiLCJwZXJzb25JZCI6Ijk0OTU5MiIsImV4cCI6MTcyNzEyMjY5NiwiaWF0IjoxNTY5MjY5ODk2LCJ1c2VybmFtZSI6InZhbGVudGluLmJvaWFkamlldkBwYWNpZmljYXRydWNrcy5jb20i

[2019-10-08 02:52] geral2 commented on #19
Done

[2019-10-08 15:26] valentinb1 commented on #19
Yes, it would be even better. Because I need the data in a table anyway. Thank you Geraldo.

[2019-10-09 00:33] valentinb1 commented on #19
Geraldo: This was an error on my part. All is working fine. I arrived to the wrong conclusion because I was looking for the resulting Json in Management Studio. Well, the grid of the studio has a limit per cell of  65535 chars. I assumed that this was a bug in your code. I apologize for the mistake. Let's delete this issue, because it is not an issue.

[2019-10-09 01:46] geral2 commented on #19
Oh!, you are right. I was not aware of that issue. Please do not delete the issue in order to keep this documented. I tested with a temporal table it's behave different that with variables tables.

Would you mind giving a Star to this repo :).

I working on uploading a branch that would return location data as result set.

[code]

[2019-10-09 01:56] valentinb1 commented on #19
Geraldo: Thank you for your superb  work. You created a great tool!

[2019-10-09 02:53] #19 closed

[2019-10-09 02:57] geral2 commented on #18
Does it worked?

[2019-10-09 12:45] brad7100 commented on #18
I have having the same issue.   Issue 9 is not working for me.

[2019-10-09 14:00] geral2 commented on #18
So, @brad7100  is your issue related to NewtonSoft.Json or the key meanwhile build the project?.
Could you please upload a print screen?

[2019-10-09 14:09] brad7100 commented on #18
I was able to get it to work by setting the signassembly to false.  Thank you for responding though.

[2019-10-15 11:35] brad7100 commented on #18
This works great and I am using it for several api's.  I am having an issue getting it to work with one api thats using the following syntax 'http://username:password@rest.api.site.com'.    This api works and will get me a response every time outside of sql but when I use it with apicaller, I get '401 Please Authentiate error.'   I can even hit ctrl+click on the url in SSMS and get the results to

[2019-10-15 13:46] geral2 commented on #18
@brad7100 what procedure are you using for this request?. Does this URL require authentication?

[2019-10-15 13:53] brad7100 commented on #18
I’m using Apicaller_Get and the username and password are passed in the url so no authentication.

[2019-10-15 14:21] geral2 commented on #18
Are you concatenating the username and password to the URL or just sending those values directly in the 'http://username:password@rest.api.site.com'?

[2019-10-15 15:22] brad7100 commented on #18
I’m sending the values directly.

[2019-10-15 15:27] geral2 commented on #18
Could you please try using the one below?

[code]

[2019-10-15 19:19] brad7100 commented on #18
Same error 401 Please Authenticate

If it would help the api is https://rest.click2mail.com/molpro/projects

Again I don’t have any issues calling this api using the web directly.

[2019-10-16 04:53] geral2 commented on #18
I figured out why it was failing. Just uploaded a new version that included an utility function that would help to make this API call. It was failing due the credectial was being expected as an array of bytes by this API.

You would need to redeploy the CLR and create that new function.

Try the code below and tell me how it goes. It worked for me.

[code]

[2019-10-16 09:38] brad7100 commented on #18
Thank you so much. I’ll give this a try later this morning.

[2019-10-16 13:37] brad7100 commented on #18
Worked great.    Thank you again.

[2019-11-01 01:37] #12 closed

[2020-02-10 10:48] ahmedarafaa opened #20 "The underlying connection was closed: An unexpected error occurred on a send."
Hello :),
I use APIConsumer since 1/1/2020
from 5/2/2020 I get this error

I use sql 2014
[code]

I tried the API from the postman it's working fine

[2020-02-10 14:32] geral2 commented on #20
Hey, that's weird I haven't updated any code since October 16th 2019.
What version of .net framework  are you using?
Is you URL HTTPS or HTTP?

[2020-02-10 20:11] ahmedarafaa commented on #20
thanks for your replay
I'm using .net framework 4.0.30319 and using https

[2020-02-13 07:16] lwal73 commented on #20
I have been using APIConsumer for a long time.
I had an error at the same time (05/02/2020).
Request was aborted: Failed to create SSL / TLS secure channel.
request example:
exec dbo.APICaller_POST
	@Url='https://api.telegram.org/bot5xxxxxxxxxxxxxxxxxxxxxx/sendMessage'
	,@JsonBody='{"chat_id":"592xxxx","text":"test"}'

Help.

[2020-02-13 14:00] geral2 commented on #20
Hello,

I wasn't able to reproduce this issue. Let me give a try using Telegram API.

[2020-02-13 14:06] lwal73 commented on #20
Microsoft SQL Server 2016 (RTM-GDR) (KB4019088) - 13.0.1742.0 (X64)   Jul  5 2017 23:41:17   Copyright (c) Microsoft Corporation  Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2016 Datacenter 6.3 <X64> (Build 14393: )
What information do you provide for a simpler solution path for you ??
Until 05/02/2020 everything worked fine.

[2020-02-13 14:07] lwal73 commented on #20
I'm from Ukraine

[2020-02-13 14:15] geral2 commented on #20
Just as a random test, Could you please try calling RoutinNumbers api below:

[code]

[2020-02-13 14:22] lwal73 commented on #20
the request does not work only with telegrams
With checked on other services, everything works out well.
and there are no telegrams (((
I can check on your request.
just could you please drop the request text, not the picture.

[2020-02-13 14:24] lwal73 commented on #20
DECLARE @Object AS INT;
 DECLARE @ResponseText AS VARCHAR(8000);
 DECLARE @Body AS VARCHAR(8000) =  '{"chat_id":"592xxxxxxxx","text":"привет"}'

 EXEC sp_OACreate 'MSXML2.XMLHTTP', @Object OUT;
 EXEC sp_OAMethod @Object, 'open', NULL, 'post','https://api.telegram.org/bot5xxxxxxxxxxxxxxxxxxxx/sendMessage', 'false'

 EXEC sp_OAMethod @Object, 'setRequestHeader', null, 'Content-Type', 'application/js

[2020-02-13 14:31] lwal73 commented on #20
не могли бы вы написать мне письмо на еьфшд  lwal@и.ua, я вам отправлю полные данные , что-бы вы могли сами проверить и увидеть ошибки.

[2020-02-13 14:34] lwal73 commented on #20
The answer to your request worked perfectly.
{"message": "OK", "rn": "122242597", "code": 200, "name": "FIRST CITIZENS BANK"}

[2020-02-13 14:35] lwal73 commented on #20
Could you write me a letter at lwal@i.ua, I will send you complete data so that you can check and see the errors yourself.

[2020-02-13 14:38] geral2 commented on #20
Sure!, thank you!

[2020-02-13 14:44] lwal73 commented on #20
Thank you, I will wait for a test letter from you.

[2020-02-14 03:20] geral2 commented on #20
Hey @lwal73 @ahmedarafaa  Could you give a try with this version that I just loaded (2.0.0.4)?

[2020-02-14 06:52] lwal73 commented on #20
Thank you very much. You just saved me.

Thank you, thank you, thank you.

From: Geraldo Diaz [mailto:notifications@github.com]
Sent: Friday, February 14, 2020 5:21 AM
To: geral2/SQL-APIConsumer
Cc: lwal73; Mention
Subject: Re: [geral2/SQL-APIConsumer] The underlying connection was closed: An unexpected error occurred on a send. (#20)

Hey @lwal73 <https://github.com/lwal73>  @ahmedarafaa <https:/

[2020-02-14 10:58] ahmedarafaa commented on #20
Hello @geral2
I try to configure this version 2.0.0.4 with fresh database fresh configuration and i get this error in this step

![image](https://user-images.githubusercontent.com/36604815/74525373-a04ee580-4f29-11ea-9503-e578d572b4fb.png)

`CREATE ASSEMBLY [API_Consumer]
AUTHORIZATION dbo
FROM  N'C:\CLR\APIConsumer.dll'
WITH PERMISSION_SET = UNSAFE`

Msg 6586, Level 16, State 1, Line 1
Assembly '

[2020-02-14 11:02] lwal73 commented on #20
Take this dll

CREATE ASSEMBLY [API_Consumer]

AUTHORIZATION dbo

FROM  N'C:\CRL\API_Consumer.dll'

WITH PERMISSION_SET = UNSAFE

From: Arafa [mailto:notifications@github.com]
Sent: Friday, February 14, 2020 12:59 PM
To: geral2/SQL-APIConsumer
Cc: lwal73; Mention
Subject: Re: [geral2/SQL-APIConsumer] The underlying connection was closed: An unexpected error occurred on a send. (#20)

Hello @geral2

[2020-02-14 11:12] ahmedarafaa commented on #20
@lwal73
In the new version, the dll name changed from "API_Consumer" to "APIConsumer"

from where you get this part are you compile it by your self or what? more explanation, please
`FROM  N'C:\CRL\API_Consumer.dll'`

[2020-02-14 11:16] lwal73 commented on #20
From: Arafa [mailto:notifications@github.com]
Sent: Friday, February 14, 2020 1:13 PM
To: geral2/SQL-APIConsumer
Cc: lwal73; Mention
Subject: Re: [geral2/SQL-APIConsumer] The underlying connection was closed: An unexpected error occurred on a send. (#20)

@lwal73 <https://github.com/lwal73>
In the new version, the dll name changed from "API_Consumer" to "APIConsumer"

from where you get this part

[2020-02-14 14:19] geral2 commented on #20
@lwal73  you're welcome. Would you mind starting the project?.

@ahmedarafaa Is you check the last commit uploaded, I did not rename that dll.
You could rebuild the project in your environment in order to get a new API_Consumer generated, or you can use the version in the release script [API_Consumer_2.0.0.4](https://github.com/geral2/SQL-APIConsumer/releases/download/2.1.1/API_Consumer_2.0.0.4.sq

[2020-02-14 14:23] lwal73 commented on #20
what should I do ?

[2020-02-14 14:54] geral2 commented on #20
Just click here

![image](https://user-images.githubusercontent.com/5836150/74541598-47c31c80-4f18-11ea-97b1-edff46d8f22a.png)

[2020-02-14 15:29] geral2 commented on #20
Btw, this issue was caused due TLS < 1.2 would be deprecated on March 2020. All servers will have to serve their contents using TLS 1.2 at least in order to keep compatibility with the main browsers.

So, since we are using 4.0 Framework, the changed was adding the code below:
[code]

This specific part **(SecurityProtocolType)3072;**. Which correspond to SecurityProtocolType.Tls12

[2020-02-15 12:25] ahmedarafaa commented on #20
Works for me :D
Thanks @geral2

[2020-02-15 12:26] ahmedarafaa commented on #20
the last thing please could you please add "Go" below this line of code

[code]

[2020-02-15 12:26] #20 closed

[2020-03-27 21:24] johncagnina opened #21 "APICaller_POSTAuth issue"
I'm running this in SQL and getting the following error. Can you help?

John

USE [DATABASE]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[APICaller_POSTAuth]
		@URL = N'https://ssecureurl',
		@Token = N'tokenxxx',
		@JsonBody = N'{"content"}'

SELECT	'Return Value' = @return_value

Error
Object reference not set to an instance of an object.

[2020-03-27 22:28] geral2 commented on #21
Hey John,

Did you try any other End Point in that URL?... Could you try testing that URL using Postman in order to discard that it's an issue with "https;//ssecureurl"?

[2020-03-27 22:44] johncagnina commented on #21
The functional url I'm using does work in Postman

[2020-03-27 23:54] geral2 commented on #21
Could you please try to execute the code below in order to confirm if it's returning success?

[code]

[2020-03-28 03:30] johncagnina commented on #21
Interesting... That seem to work. Here is a sample of my code

![3-27-2020 11-28-02 PM](https://user-images.githubusercontent.com/26575726/77813912-d16f1980-7082-11ea-8270-d2786e210642.png)

[2020-03-28 20:10] geral2 commented on #21
That doesn't look like a Authentication token, it's more like header correct?. In that case try calling the procedure below:

[code]

In case it doesn't exists:
[code]

[2020-03-29 13:30] johncagnina commented on #21
@geral2 that was it! Thank you very much. Great product!

[2020-03-29 17:10] geral2 commented on #21
Could you please star the Project?

[2020-03-29 20:14] johncagnina commented on #21
Done and thanks again!

From: Geraldo Diaz <notifications@github.com>
Sent: Sunday, March 29, 2020 1:11 PM
To: geral2/SQL-APIConsumer <SQL-APIConsumer@noreply.github.com>
Cc: John Cagnina <john.cagnina@unisonenergy.com>; Author <author@noreply.github.com>
Subject: Re: [geral2/SQL-APIConsumer] APICaller_POSTAuth issue (#21)

Could you please star the Project?

—
You are receiving this because you a

[2020-03-29 20:30] #21 closed

[2020-04-09 15:19] greenlightman opened #22 "issue with APICaller_GET_Json"
Hello Geraldo. I'm getting the following error when going through the assembly installation steps for API_Consumer. The first one is below. Any ideas? Muchisimas gracias desde Tampa!

`PRINT N'Creating [dbo].[Create_HMACSHA256]...';
GO
CREATE FUNCTION [dbo].[Create_HMACSHA256]
(@message NVARCHAR (MAX) NULL, @SecretKey NVARCHAR (MAX) NULL)
RETURNS NVARCHAR (MAX)
AS
 EXTERNAL NAME [API_Consumer].[Us

[2020-04-09 15:36] geral2 commented on #22
Saludos @greenlightman!,

Could you pease confirm the API Consumer version you have instaled?

![image](https://user-images.githubusercontent.com/5836150/78912951-431d6f00-7a56-11ea-8612-efe4865d69ce.png)

[2020-04-09 16:06] greenlightman commented on #22
unfortunately, i don't have VS to read the dll. i did download it from SQL-APIConsumer/API_Consumer/obj/Debug/

![Capture](https://user-images.githubusercontent.com/63386680/78915799-795ced80-7a5a-11ea-8187-22fe92c2a0cc.PNG)

[2020-04-09 17:54] geral2 commented on #22
I meant in MSSM;

![image](https://user-images.githubusercontent.com/5836150/78925219-1a52a500-7a69-11ea-8e4d-8fac1c17eb00.png)

Could you please try running the script in the last release [API_Consumer_2.0.0.4.sql](https://github.com/geral2/SQL-APIConsumer/releases/download/2.1.1/API_Consumer_2.0.0.4.sql). It can be done with ALTER instead of create, in order to confirm you have 2.0.0.4 version i

[2020-04-09 18:14] greenlightman commented on #22
i tried it but i'm stuck, see below.
![Capture](https://user-images.githubusercontent.com/63386680/78927195-74089e80-7a6c-11ea-9b5b-02f605981fab.PNG)

[2020-04-09 18:15] greenlightman commented on #22
then i tried to drop the assembly, but then got this
![Capture](https://user-images.githubusercontent.com/63386680/78927256-91d60380-7a6c-11ea-9735-6a41bc8580d6.PNG)

[2020-04-09 19:01] geral2 commented on #22
Gotcha!, you need to drop all the Stored procedures and functions created that rely on API_Consumer assembly. Then try again.

[2020-04-09 20:54] greenlightman commented on #22
ño! ok, i missed that. thanks! pls keep this open, i'm starting from the top, i might stumble again!

[2020-04-09 21:08] geral2 commented on #22
It's ok! :). Could you please star the project?

[2020-04-09 21:10] greenlightman commented on #22
done, but pls keep it open! my brain is fried + might need help along the way! gracias papa!

[2020-04-11 06:03] greenlightman commented on #22
saludos geraldo! al fin pude completar tu proyecto... gracias. sin embargo, estoy tratando de adaptar APICaller_POST para obtener un token a de un graphQL API. tu metodo deberia funcionar con graphQL, verdad? estoy utilizando 2 valores: clientid con un valor secreto. adjunto es una imagen del POST que funciona con Postman. gracias geraldo!
![Capture](https://user-images.githubusercontent.com/63386

[2020-04-13 13:44] geral2 commented on #22
Saludos,

Que parametro require ese EndPoint?. Algun Token y header?. Que procedure ejecutaste para esta llamada?

[2020-04-13 16:35] greenlightman commented on #22
Buenos dias Geraldo. Estos son los headers que se usan para el POST. El resultado the devuelve un token. Estoy tratando de adaptar [APICaller_POST] pero estoy atorado! Muchas gracias Geraldo!

endpoint = https://api.qqqtest.com
content-type = application/x-www-form-urlencoded
host = qqqtest.auth0.com
grant_type = client_credentials
client_ID = xxxxxx
client_pwd = yyyyy
audience = https://api.qqqte

[2020-04-13 16:50] geral2 commented on #22
Intenta con esto:

[code]

[2020-04-13 19:09] greenlightman commented on #22
perdona, me equivoque!

el unico header es 'content-type = application/x-www-form-urlencoded'

el resto de los parametros tienen que pasar como 'body' concatenados. Gracias Geraldo!

[2020-04-13 19:39] geral2 commented on #22
Tienes la estructura de ese Json?

[2020-04-13 19:46] greenlightman commented on #22
en Postman, esto es lo que devuelve el API. gracias Geraldo.

![Capture](https://user-images.githubusercontent.com/63386680/79154643-e5628d00-7d9d-11ea-92c5-8adad15c6152.PNG)

[2020-04-13 20:01] geral2 commented on #22
Me referia al JsonBody que mandas en el request.

Pero intenta con este Stored procedure, si no existe crealo:

[code]
[code]

Let me know.

[2020-04-13 20:11] greenlightman commented on #22
voy a tratar lo que me sugieres. mientras tanto, aqui es el JSON. gracias Geraldo!

`var settings = {
  "url": "https://qqqtest.auth0.com/oauth/token",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": ["application/x-www-form-urlencoded", "application/x-www-form-urlencoded"],
    "Cookie": "did=s%3Av0%3A18f13590-749d-11eacJ8syY"
  },
  "data": {
    "grant_type": "client_cred

[2020-04-14 14:03] geral2 commented on #22
Did it work?

[2020-04-14 16:34] greenlightman commented on #22
No. todavia. he tratado de ajustar el JSON que sale del POST pero ahora me sale con el error de abajo. pase por algo semejante con pruebas de conexion en Postman, pero al fin logre con los parametros que te indique.

Creo que hay que ajustar algo en [API_Consumer].[StoredProcedures].[APICaller_POST] pero no lo he encontrado todavia. algunas ideas? muchas gracias Geraldo.

`Result
{"error":"access_

[2020-04-14 18:19] geral2 commented on #22
Si retorna eso quiere decir que ya se comunica con el API pero algo en el Json o header no es valido. Veo que arriba tiene un dato adicional en el JsonBody (Host).

Trata mandando el body dentro de data. Y removiendo el host.

Que cambiaste en Postman btw?
[code]

[2020-04-14 19:13] greenlightman commented on #22
creo que no cambie nada en Postman. definitivament este JSON funciona.

`var settings = {
  "url": "https://qqqtest.auth0.com/oauth/token",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": ["application/x-www-form-urlencoded", "application/x-www-form-urlencoded"],
    "Cookie": "did=s%CJkjeR243P0GScJ8syY"
  },
  "data": {
    "grant_type": "client_credentials",
    "client_id

[2020-04-14 19:16] greenlightman commented on #22
trate el ajuste anterior que me sugeriste y me devolvio esto

`Error
The 'content-type' header must be modified using the appropriate property or method.  Parameter name: name`

Entonces cambie el @header a esto

`--Set Header
Declare @header nvarchar(max) = '[{
								  "content-type" :"application/x-www-form-urlencoded"
								}]';`

y me devuelve esto

`Result
invalid json`

[2020-04-14 19:18] greenlightman commented on #22
trate el ajuste anterior que me sugeriste y me devolvio esto

`Error
The 'content-type' header must be modified using the appropriate property or method.  Parameter name: name`

Entonces cambie el @header a esto

`--Set Header
Declare @header nvarchar(max) = '[{
								  "content-type" :"application/x-www-form-urlencoded"
								}]';`

y me devuelve esto

`Result
invalid json`

[2020-04-14 20:48] geral2 commented on #22
I think I figured it out. Si, estas usando oauth0.com prueba con esto:

--Set Header
Declare @header nvarchar(max) = '[]';

Declare @jsonBody nvarchar(max) = '"data" : {
								   "grant_type" : "client_credentials",
								   "client_id" : "xxxxxx",
								   "client_secret" : "yyyyy",
								   "audience" : "https://api.qqqtest.com"
								 } '
--Set URL
Declare @wurl varchar(max) = 'https:

[2020-04-14 21:01] greenlightman commented on #22
perdona, no estoy seguro sobre Declare @Header nvarchar(max) = '[]';

mi ultimo intento es

`use QQQTEST_API
go

--Set Header
Declare @header nvarchar(max) = '[{
								  "content-type" :"application/x-www-form-urlencoded"
								  }]';

Declare @jsonBody nvarchar(max) = '{
										   "host" : "qqqtest.auth0.com",
										   "grant_type" : "client_credentials",
										   "client_ID" : "xx

[2020-04-14 21:06] geral2 commented on #22
Yo probe con esto:

![image](https://user-images.githubusercontent.com/5836150/79274209-3a6fd300-7e72-11ea-9600-4699ae70de8f.png)

[code]

[2020-04-14 21:17] greenlightman commented on #22
esto esta raro. tu simulacion es identico a lo que pasa exitosamente en Postman, pero no con este codigo. me cerciore que el [client_id] y [client_secret] estan correctos pero me sigue devolviendo esto

`Result
{"error":"access_denied","error_description":"Unauthorized"}`

por lo menos el POST esta mandando lo que espera, pero el resultado me confunde. estas disponible mañana para una consulta? cr

[2020-04-14 21:20] greenlightman commented on #22
![Capture](https://user-images.githubusercontent.com/63386680/79275471-3d6bc300-7e74-11ea-9aeb-98fbcd34df0e.JPG)

[2020-04-14 21:27] geral2 commented on #22
Claro, podemos coordinar por AnyDesk o cualquier herramienta.

Creo que el problema esta en tu audience value.

Incluso esto funciona:
[code]

Intenta algo como esto:   "audience" : "https://000fleet.auth0.com/api/v2/"

[2020-04-14 21:38] greenlightman commented on #22
no, estoy seguro que estoy usando la entrada de [audience] correcta. que tal si me comunico mañana contigo? si cualquier plataforma de apoyo que prefieres. gracias de nuevo Geraldo!

![Capture](https://user-images.githubusercontent.com/63386680/79276835-b23ffc80-7e76-11ea-9616-37207e498d3a.PNG)

[2020-04-16 06:31] greenlightman commented on #22
saludos Geraldo. todavia no he podido resolver el POST. si estas disponible, que agredeceria si te comunicas conmigo. mi skype es nueve-siete-tres  / nueve-nueve-seis / ocho-seis-dos-uno. tambien me puedes txtear al mismo numero. muchas gracias Geraldo.

[2020-04-16 13:53] tamhaneaniket opened #23 "APICaller_GET Truncating Data"
Hi Geraldo,

I am noticing that the API call APICaller_GET is truncating the data and not returning the full object. Is there a limit to the data which is being returned?

Thanks

[2020-04-16 14:30] geral2 commented on #23
Hi!,

Depending on the version you have, the first version returned 4000 characters. But it was fixed in #8 to return 2GB. What's the length of data you are getting?

[2020-04-16 14:40] tamhaneaniket commented on #23
I am getting about 44,000 characters...I am using SQL Server 2012...

[2020-04-16 15:29] geral2 commented on #23
I just tested in my SQL Server 2012 instance; The sample below returned 149,716 chars.

[code]

[2020-04-17 13:10] tamhaneaniket commented on #23
Thanks a lot...it worked. I was getting confused because i was copying the output from the SQL Server Results window and that seems to have a limitation on the characters. The actual result contains the full output.....

Thanks for your super quick help again....

[2020-04-17 13:10] #23 closed

[2020-04-17 14:22] geral2 commented on #23
You're welcome!

[2020-04-18 06:26] iamoop opened #24 "For the Example for Calling Authentication and Multiple headers"
I've run into an issue with this part of the example code:
`    SELECT TOP 1 @Token = CONCAT('Bearer ',Json.Token)
     FROM @Result
      CROSS APPLY ( SELECT value AS Token FROM OPENJSON(Result)) AS [Json]`

It's returning an error of Invalid column name 'Result"
Should I be putting something else there? If so? What? The other

And in the Sample for Multiple Headers when I run it as is I get the

[2020-04-18 06:31] iamoop commented on #24
By taking the `Select * from @ts` out of the From OPENJSON I got the following error from the Multiple Headers code.

Could not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' or one of its dependencies. Assembly in host store has a different signature than assembly in GAC. (Exception from HRESULT: 0x80131050)

Thought I'd sha

[2020-04-18 06:43] iamoop commented on #24
A few more tests and I'm seeing this error:
Could not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' or one of its dependencies. Assembly in host store has a different signature than assembly in GAC. (Exception from HRESULT: 0x80131050)

So that means I didn't load something correctly. I'll start from scratch and try again.

[2020-04-18 06:43] #24 closed

[2020-04-18 16:50] iamoop opened #25 "Trying to install fresh and having issues with Stored Procedure creation"
I'm not sure where the issue lies here. But when trying to create the first Stored Procedure I get the following error:
Creating [dbo].[Create_HMACSHA256]...
Msg 6505, Level 16, State 2, Procedure Create_HMACSHA256, Line 1 [Batch Start Line 3]
Could not find Type 'UserDefinedFunctions' in assembly 'APIConsumer'.

I had to copy the System.Net.Http.dll from the Microsoft Framework (which is 4.0.3031

[2020-04-18 17:13] iamoop commented on #25
Got this working. So closing. Still having some issues getting a token from the Auth. But that's proably user error at this point.

[2020-04-18 17:13] #25 closed

[2020-04-18 18:02] iamoop opened #26 "Method Not allowed"
Finally found something I can't get past here. Not sure if it's possible to do this or not.
The API I'm trying to connect to is here:
https://app.fasttestweb.com/FastTest/api/auth/simple

Using the APICaller_Get_Headers (because I have to pass multiple headers)
I get the following error
<!doctype html><html lang="en"><head><title>HTTP Status 405 – Method Not Allowed</title><style type="text/css">b

[2020-04-18 18:04] geral2 commented on #26
Hi,

Did you test it using Postman or something like that?

[2020-04-18 18:05] #22 closed

[2020-04-18 18:06] geral2 commented on #24
Did you fix this?

[2020-04-18 18:09] geral2 commented on #24
Depending on the version it could be fixed with the code below:
[code]

[2020-04-18 18:15] geral2 commented on #26
Are you sure that it's not a POST method?, Could you try with API_CallerPost_Header?

[2020-04-18 18:16] iamoop commented on #26
No, I hadn't done that yet. But I was finally able to get a result. Yay!

Here is what I ended up with through trial and error. (Btw, I appreciate your quick reply) So you can close this.

 DECLARE @Result AS TABLE
    (
        Token VARCHAR(MAX)
    )
    INSERT INTO @Result

     exec  [dbo].[APICaller_POST_headers]
    	 @URL = 'https://app.fasttestweb.com/FastTest/api/auth/simple'
    	,@head

[2020-04-18 18:19] geral2 commented on #26
Could you please star the project?

[2020-04-18 18:23] geral2 commented on #26
Thank you!

[2020-04-18 18:23] #26 closed

[2020-04-18 18:23] iamoop commented on #26
Done. And this is a great project. Most of my issues seem to be on my understanding of JSON. This is all new to me.

[2020-04-18 18:51] iamoop commented on #24
Yes. I was able to fix this by reloading the dlls into GAC.

[2020-04-19 08:20] iamoop commented on #21
Just wanted you to know that this answer helped me tremendously as well. And this is truly a great product and I am very thankful that I found it.

[2020-04-19 17:11] geral2 commented on #21
Great to read that!.

[2020-04-20 17:51] johncagnina opened #27 "prerequest script"
Hi @geral2 ,

Is it possible to run a prerequest script. I need to get an auth header.

John

[2020-04-20 19:52] geral2 commented on #27
Hi,

Do you have any code, how we can get the headers in a prerequest?

[2020-04-20 20:17] johncagnina commented on #27
See postman file and let me know

"info": {
		"_postman_id": "f06e8df0-1a88-4c7b-8b90-ecf353c23a6b",
		"name": "",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "newnotification",
			"event": [
				{
					"listen": "prerequest",
					"script": {
						"id": "1c718015-8f7c-490d-861f-abf26bb7d94d",
						"exec": [
							"function ge

[2020-04-25 22:04] jimerb opened #28 "Syntax Problems with Execution Examples"
I think i have everything installed properly but when i try to execute the sample code listed on the main page I get the same syntax error on both examples:

`DECLARE @RoutingNumber AS VARCHAR(50) = '122242597'

--Public API: routingnumbers.info
DECLARE @Url  VARCHAR(200) = CONCAT('https://www.routingnumbers.info/api/name.json?','rn=',@RoutingNumber)

DECLARE @Results AS TABLE
(
	Context varchar(m

[2020-04-25 23:00] jimerb commented on #28
I figured this out.   The SQL server has to be at the right compatiblity level for the OPENJSON to work.

Query it:
SELECT compatibility_level FROM sys.databases WHERE name = 'testdb';

then set it:
ALTER DATABASE testdb SET COMPATIBILITY_LEVEL = 130

[2020-04-25 23:00] #28 closed

[2020-05-21 22:52] iamoop opened #29 "GAC issue"
Good evening,

So I had everything set up and running during testing. No changes to the server, but after implementing this live (same server and code I just added access to the code to be run on a routine instead of manually)

However, today when checking, I'm getting the following error when using the APICaller_Post_Headers stored procedure. (Again, this was working perfectly last week). No chan

[2020-05-22 14:40] iamoop commented on #29
Just a little more information. The APICaller_Post_Headers worked. But I had created a Second one called APICaller_Post_Headers1 that allowed the @JSON as a variable. (Which was done because of another thread/conversation.

My apologies but it's the second one that is giving the error.

Based on this

CREATE PROCEDURE [dbo].[APICaller_POST_Headers1]
	@URL [nvarchar](max),
	@Headers [nvarchar](max)

[2020-05-22 15:33] geral2 commented on #29
Good morning @iamoop,

Did you try doing this:
[code]

[2020-05-22 15:52] iamoop commented on #29
I will as soon as I can. (VPN is currently down. So I'll let you know). Thank you for the quick reply.

[2020-05-23 19:37] iamoop commented on #29
That worked. Thank you. Any ideas as to why that would have stopped working so that I can try to avoid it in the future?

[2020-05-24 16:47] geral2 commented on #29
Make sure the GAC was not updated.

[2020-05-24 16:47] #29 closed

[2020-06-01 21:33] geral2 commented on #29
Hey @iamoop , I just experienced same error in a production environment, right after installing [this](https://support.microsoft.com/en-us/help/4552931/kb4552931-cumulative-update-for-net-framework) Windows update (Cumulative Update for .Net Framework 3.5 and 4.8 Version 1903 and 1909).

There is a tools named [DQS](https://docs.microsoft.com/en-us/sql/data-quality-services/install-windows/upgrade

[2020-06-08 14:34] ShobhitaSingh opened #30 "POST Request with urlencoded data"
Hi Geraldo,

I am facing issue with Post request.

Below is my generated javascript code:

var settings = {
  "url": "https://qwerty/token",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded"
  },
  "data": {
    "grant_type": "client_credentials",
    "scope": "scope.xyz",
    "client_id": "abc...",
    "client_secret": "def..."
  }
};

Post

[2020-06-08 20:21] geral2 commented on #30
Hi @ShobhitaSingh,

This is probably due application/x-www-form-urlencoded, the SP was set with a default application/json. I will update a new version with this fix.

Thank you.

[2020-06-09 23:42] geral2 commented on #30
Hi,
I already fixed, I'll update the repo probably tomorrow.

[2020-06-11 03:55] #30 closed

[2020-06-12 14:03] geral2 commented on #30
@ShobhitaSingh  Could you try exact the same using dbo.APICaller_POST_Encoded instead?

[2020-06-12 14:30] ShobhitaSingh commented on #30
Hi Geraldo,

I used this SP and got the error.

Declare @header nvarchar(max) =
  '[{
		"Name": "Content-Type",
		"Value" :"application/x-www-form-urlencoded"
	},
	{
		"Name": "grant_type",
		"Value" :"client_credentials"
	},
	{
		"Name": "scope",
		"Value" :"scopeopenapi"
	},
	{
		"Name": "client_id",
		"Value" :"abc"
	},
	{
		"Name": "client_secret",
		"Value" :"def"
	}]';
--Set URL
Declare @wur

[2020-06-12 17:19] geral2 commented on #30
Hi, dbo.APICaller_POST_Enconded does not required headers.

Could you try the script below first?

If this does not work let try with a different body Json.

[code]

[2020-06-15 06:48] ShobhitaSingh commented on #30
Hi Geraldo,

Provided sample works.

Thanks for all your help.

Thank You !!

[2020-06-15 13:18] geral2 commented on #30
Could you please star the project?

[2020-06-18 21:18] pmaldonato opened #32 "APICaller_GET_Headers_EXT"
Gerald,
I've pulled the master and there's no Created Procedure for APICaller_GetHeader_EXT. The only mention on it in the README is  Line 389 where it's being executed in ### **Sample calling multiples headers Get Method**  " @i = [dbo].[APICaller_GET_Headers_EXT]". I'm new to this. Is it in another branch?

[2020-06-18 21:28] geral2 commented on #32
Hi @pmaldonato,

You're right. The correct procedure name is dbo.APICaller_GET_Extended.

You can find the script [here](https://github.com/geral2/SQL-APIConsumer/releases/download/v2.2/Updated.v2.2.sql)

[code]

Thank you, I just updated the documentation. Let me know if it works.

[2020-06-18 22:55] pmaldonato commented on #32
Yes, that did it. Thanks.

[2020-06-18 22:55] #32 closed

[2020-07-07 17:33] sramsay335i opened #33 "API_Caller_POST_Headers example"
Hi I have successfully used the APICaller_GET_Headers call in SQL as in:
DECLARE @apikey as varchar(max) = 'xxxxxxxxx'
DECLARE @json AS TABLE (result NVARCHAR(MAX))
DECLARE @URL AS VARCHAR(MAX) = 'https://xxx/xxx/api/xxx'
DECLARE @header NVARCHAR(MAX) = '[{"Name": "X-API-Token","Value" :"' + @apikey + '"}]'
INSERT INTO @json(result) EXEC WTL.dbo.APICaller_GET_Headers @URL, @header
SELECT result FR

[2020-07-07 19:29] geral2 commented on #33
Hi @sramsay335i,

**Take a look to the issue [21](https://github.com/geral2/SQL-APIConsumer/issues/21)**

Did you try something like this;
[code]

Let me know if it works.

[2020-07-07 20:43] sramsay335i commented on #33
Hi Geraldo,
  Thank you very much for replying so quickly.   I tried out your code but
the problem is the stored procedure only requires two parameters (URL and
Header).  I can't use the JSON parameter.
   I created the APICaller_POST_Headers stored procedure from the
documentation in the following link:
https://github.com/geral2/SQL-APIConsumer
   Should I modify the procedure to allow for the JS

[2020-07-07 20:58] geral2 commented on #33
You're right @sramsay335i,

I just updated the documentation. There is missing the creation script for APICaller_POST_JsonBody_Header.

[code]

[code]

Please give a try.

[2020-07-07 21:08] sramsay335i commented on #33
Hi Geraldo,
That works perfectly!
Many thanks,
Sean

On Tue, Jul 7, 2020 at 1:58 PM Geraldo Diaz <notifications@github.com>
wrote:

[2020-07-07 21:29] geral2 commented on #33
You're welcome!, Thank you for starring the project.

[2020-07-07 21:29] #33 closed

[2020-07-09 02:03] pmaldonato opened #34 "Multiple Gets based on Return values in API return value"
I've been banging my head against a wall for a week. I need to loop through this API call (and others) based on the values of the first 3 values, I' can pull 20 records at a time but I don't know where to put my loop, do I need a cursor? This is abbreviated, I've already pulled and parsed my data, but can never get to loop to the next 20.:
--Call EROAD Web Service API
--Set offsets and local varia

[2020-07-09 04:41] geral2 commented on #34
Hi @pmaldonato,

This does'nt look that hard, but I would need more info... For example what should be the next execution?

https://api.na.eroad.com/v1/drivers?limit=20&offset=1

?

[2020-07-09 17:50] pmaldonato commented on #34
Hey Gerald,

It would be

https://api.na.eroad.com/v1/drivers?limit=20&offset=20

On this one, I’m trying to pull all drivers and the max record pull at a time is 20 for this endpoint.

Thanks fo the help.
Paul

From: Geraldo Diaz <notifications@github.com>
Sent: Wednesday, July 8, 2020 9:42 PM
To: geral2/SQL-APIConsumer <SQL-APIConsumer@noreply.github.com>
Cc: Paul Maldonato <paul@emergebc.com>;

[2020-07-09 18:31] geral2 commented on #34
I don't think you really need the extended method, but could you try with the code below?

[code]

[2020-07-10 00:43] pmaldonato commented on #34
Gerald,

This is to access an API developed using  https://swagger.io/specification/v2/ API by EROAD Fleet Management.

This API only allows the ApiKey to be in the header. Depending on who designed the API, it can be in the @url or the @header. This one is @header only, so I had to use _Extended. I got it to work!

Thanks for all your help. I’ve attached a script if you want to through it in ther

[2020-07-10 01:17] geral2 commented on #34
You're very welcome!.

[2020-07-10 01:17] #34 closed

[2020-07-10 20:58] cgeswein commented on #25
Hey @iamoop I'm having this exact same problem, exact same scenario. What did you do to get it working?

[2020-07-10 21:19] cgeswein commented on #25
Never mind @iamoop  same problem as issue #10
Didn't pay enough attention on step 5

[2020-07-17 00:32] valentinb1 opened #35 "The request was aborted: Could not create SSL/TLS secure channel"
Hello Geraldo,
I've been using SQL-APIConsumer for several months on https://www.commandgps.com/ibis/rest/api/v2/ and it works great!
Now, I am trying to use it on a different API, but no luck.
The API in question is:
https://plgsearchapi.tmwcloud.com/s
Swagger: https://plgsearchapi.tmwcloud.com/s/swagger.json
Any GET request to it returns: "The request was aborted: Could not create SSL/TLS secure

[2020-07-17 00:48] geral2 commented on #35
Hello @valentinb1, thank for Starring the project.

Did you try with the latest version?... I just tested those API, It worked as expected.

![image](https://user-images.githubusercontent.com/5836150/87736243-a5001a00-c7a5-11ea-8136-99827225923a.png)

Confirm which version of the API are you working with:

![image](https://user-images.githubusercontent.com/5836150/87736194-8c8fff80-c7a5-11ea-8c4b-

[2020-07-17 22:59] valentinb1 commented on #35
Hi Geraldo,
You are correct: I had an older version of API_Consumer.
I upgraded it to current and now all works.
Thank you!
Valentin

[2020-07-17 22:59] #35 closed

[2020-07-17 23:59] pmaldonato commented on #35
I was using a swagger API and could use  [APICaller_GET] once I got authorized, I ended up using  [APICaller_GET_Extended] to get around it. Thanks, I'll pull and simplify my code.

[2020-08-06 16:31] rediajme opened #36 "Patch Method"
Hello geral2

Is it possible to add a Patch Method to make partial updates? I am trying to compile your source in VS 2015, but it does not compile and I have not managed to discover what I am doing wrong, I am not sure if it is framework or Newtonsoft version

I'd appreciate it if you could give me a hint to build

[2020-08-06 17:52] geral2 commented on #36
Hello @rediajme,

That's a good one, I'll try to update it adding to new methods, one Patch and another generic that make you able to send which method (POST,PATCH,GET).

Could you please share what error it's throwing when building?

[2020-08-06 18:42] rediajme commented on #36
Thanks for your prompt response, at the time of compiling I see that the solution is with Framework 4 and it generates the following list of error messages I think it is for compatibility with the framewor but I'm not sure about it
![nameof](https://user-images.githubusercontent.com/24400164/89569630-9f1cb800-d7ea-11ea-8b70-624750b532ac.png)
![Nullable](https://user-images.githubusercontent.com/24

[2020-08-06 19:22] geral2 commented on #36
Can you confirm if it's using 4.0 as Target Framework?

[2020-08-06 19:51] rediajme commented on #36
Yes of course
![framework](https://user-images.githubusercontent.com/24400164/89575971-2ae71200-d7f4-11ea-9314-5d2cd1123d7c.png)

[2020-08-06 21:50] geral2 commented on #36
Confirm the compiler version and what .net framework are you working on.

![image](https://user-images.githubusercontent.com/5836150/89586192-3eeb3d80-d80d-11ea-8570-2e01a1123e54.png)

[2020-08-06 23:40] rediajme commented on #36
Framework
![frameworkW](https://user-images.githubusercontent.com/24400164/89593235-3a765300-d814-11ea-9b1d-990865268fc2.png)

[2020-08-10 21:50] rediajme commented on #36
Después de mucho validar veo que debe compilar con C# 6, sin embargo, después de verificar versiones de NewtonSoft.Json y System.Net.Http al compilar VS indica que la referencia a NewtonSoft esta perdida
![Framework](https://user-images.githubusercontent.com/24400164/89834728-03ac7f80-db29-11ea-91bd-19042eddcb60.png)

[2020-08-10 22:30] geral2 commented on #36
Saludos,

Intentaste borrando la referencia e instanciandola nuevamente?. Usa una version especifica, creo que la 11.0. La dll esta en el folder con el mismo nombre. Me dejas saber. Aun no he tenido tiempo de hacer el cambio del Patch.

[2020-08-20 12:07] rjwijnen opened #37 "APIConsumer as EXTERNAL_ACCESS"
I am wondering if it isn't better to run de API_Consumer assembly in 'EXTERNAL_ACCESS' instead of UNSAFE. From what i can see
'System.Net.ServicePointManager.ServerCertificateValidationCallback = (senderX, certificate, chain, sslPolicyErrors) => { return true; };' is blocking that at the moment. Removing this line makes it possible. What are your thoughts? Also in relation to security.

[2020-08-20 16:14] geral2 commented on #37
Hi @rjwijnen,

Yes, you could create it as EXTERNAL_ACCESS instead, but you would need to import a few more dlls. For instance; System.Security.Permissions, and anothers dependencies. When calling any CLR procedure.

![image](https://user-images.githubusercontent.com/5836150/90797373-8af2b380-e2de-11ea-8309-2493f71ced81.png)

[2020-08-26 09:18] CoenVanWoerkom opened #38 "Create certificate from file does not work"
As Salomon Rutzky explains in numerous posts on stack exchange and elsewhere (for example https://dba.stackexchange.com/questions/223976/assembly-deployment-with-permission-unsafe-or-external-access-using-asymmetric-k), there is a method to create assemblies without setting trustworthy = ON. This involves creating a certificate or asymmetric key from the executable, creating a login for that key/c

[2020-08-26 18:41] geral2 commented on #37
@rjwijnen  Did you try doing it?

[2020-08-28 21:01] geral2 commented on #38
Hi @CoenVanWoerkom,

I read the entire serie of these awesome blog. I tried making it External_Access, but since it depends on anothers dll like;
[Newtonsoft.Json]
[System.Runtime.Serialization.dll]
[SMDiagnostics]
[System.ServiceModel.Internals]

It doesn't work. So, what we could do is customize the SQL-ApiConsumer for you, removing JsonConvert objects. What kind of URL would you calling?.

[2020-08-28 21:02] #27 closed

[2020-09-04 07:20] rjwijnen commented on #37
@geral2 i haven't had time for it to try. But for my understanding i need to add 'System.Security.Permission' as an assembly in SQL server?

[2020-09-10 09:24] MyraR commented on #38
Hello geral2,

Thank you for your quick response and willingness to help.
We are looking for a way to implement the APIConsumer without having to turn TRUSTWORTHY ON.  To circumvent the trustworthy option, we applied the methods described in the articles (creating a certificate or key). After which we tried to create the assembly granting unsafe access. This results in the error message stated abo

[2020-10-12 19:51] gknoll9862 opened #39 "Error creating Assembly"
When I run this code:
`CREATE ASSEMBLY [API_Consumer]
AUTHORIZATION dbo
FROM  N'C:\CLR\API_Consumer.dll'
WITH PERMISSION_SET = UNSAFE`

I get this error:
CREATE ASSEMBLY for assembly 'API_Consumer' failed because assembly 'API_Consumer' is malformed or not a pure .NET assembly.
Unverifiable PE Header/native stub.

I am using .NET 4.0 SQL 2016

Please advise.

[2020-10-12 20:07] #39 closed

[2020-10-12 20:07] gknoll9862 commented on #39
Please disregard. I found the post where you helped someone else and I got it working.
Thank you

[2020-11-27 19:04] iamoop opened #40 "New Issue with Post"
So. First. Thank you for this program. I've been using it for awhile now with mostly GET's ad it's working wonderfully.
But I have a new POST project and I've run into an error. I'm not sure if it's something you can solve or not. Or if it's something that I've screwed up with.

Anyway. I'm using the APICaller_Post (no auth needed as it using an access Key that I'm putting in the URL directly.
Aft

[2020-11-27 23:54] geral2 commented on #40
You're welcome @iamoop,

Could you please confirm what procedure are you using, since you are getting a response means CLR Procedure comunicated successfully with the API, I do not see that response as part of the errors in [errors](https://eversign.com/api/documentation/methods#errors).

I did try the code below;

`Declare @header nvarchar(max) =
  '[{
		"Name": "Content-Type",
		"Value" :"applic

[2020-11-28 00:02] iamoop commented on #40
I was using API_Caller_Post. I don't have Post_Extended. So that's probably it. I seem to have an older version. I'll get it updated and if I still have a problem I'll let you know. Sorry I missed it, but as always you are awesome for responding so fast.

[2020-11-28 00:04] iamoop commented on #40
And I'm just going to say this again. Because I think it needs to be said. This code is amazing, and the fact that you keep updating it as needed is a bonus. It has literally saved me a hundred or more hours in helping my clients extend their functionality.

[2020-11-28 01:40] iamoop commented on #40
I had a few other things to work out on the formatting. But this API_Caller_Post_Extended did the trick.

Again, thank you for helping. Thank you for this program and thank you for the quick reply. It is much appreciated.

[2020-11-28 01:54] geral2 commented on #40
I'm glad to heard that It works, I'ts my preasure to keep working on it. Anything else that you need just let me know.
I had another update that I haven't updload yet regarding #36 which would allow call another HTTP methods as PATCH, PUT.

I really appreciate your donation, thank you!.

[2020-11-28 01:56] iamoop commented on #40
My pleasure. I, honestly, never saw the option to donate/sponsor before today or I would have done it ages ago. This code is a blessing.

[2020-11-28 02:04] geral2 commented on #40
It was added in the last update. Can we close this issue?

[2020-11-28 03:15] iamoop commented on #40
Absolutely. 

  On Fri, Nov 27, 2020 at 9:05 PM, Geraldo Diaz<notifications@github.com> wrote:

It was added in the last update. Can we close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-28 03:54] geral2 commented on #40
Thank you!

[2020-11-28 03:54] #40 closed

[2020-12-14 19:30] sramsay335i opened #41 "Oauth2 authentication"
Hi Geral,
  Is it possible to do Oauth 2.0 Authorization with API Caller?   I tried the sample code that calls APICaller_GETAuth but not getting anything.
Thanks,
Sean

[2020-12-16 16:13] geral2 commented on #41
Hi @sramsay335i,

I think it's possible, Could you try using the procedure named  **dbo.APICaller_POST_Encoded**;

[code]

Let me know if it works?

[2020-12-16 16:51] sramsay335i commented on #41
Hi Geral,
  Thanks for this.  Had no idea.   I think I need to upgrade my API_Consumer assembly because when I run the CREATE PROC for APICaller_POST_Encoded , it says it can't find the method.
   Do you have any upgrade documentation available?   The  following ALTER ASSEMBLY statement says it can't open the physical file:
ALTER ASSEMBLY API_Consumer FROM 'C:\Temp\SQL-APIConsumer-2.2\API_Consumer

[2020-12-16 22:54] geral2 commented on #41
I don't really have any good documentation. But could you try removing all the SQL dependencies related to API_Consumer, then try to recreate it using API_Consumer_V2.2 Script attached in [V2.2]( https://github.com/geral2/SQL-APIConsumer/releases/tag/v2.2).

Let me know how it goes.

[2020-12-17 22:13] sramsay335i commented on #41
Hi Geral,
  I uninstalled all the dependencies and assemblies.    I installed the latest from v2.2 and now I get a '....Assembly in host store has a different signature than assembly in GAC.' error for the Newtonsoft.Json package.    I installed it on another machien (clean install) and get the same error.   Have you seen this before?
Sean

Could not load file or assembly 'Newtonsoft.Json, Version

[2020-12-18 01:46] geral2 commented on #41
Yes, you need to make sure to install the DLLs dependecies, before creating the APIConsumer, remember to replace the database name.

It could be found in [API.Consumer.Binary.dependicies](https://github.com/geral2/SQL-APIConsumer/releases/download/v2.2/API.Consumer.Binary.dependencies.sql)

[2020-12-21 18:17] sramsay335i commented on #41
Hi Geral,
  Finally got it working here.  I followed your instructions of the installation to no avail.    I kept getting a Newtonsoft.Json.dll version error in the GAC.

What I had to do was delete the Newtonsoft.Json.dll from the Global Assembly Cache (GAC) using the Windows gacutil.exe utility.
- (cmd:  gacutil /u Newtonsoft.Json.dll)   - this uninstalls ALL versions of the dll in the Global As

[2020-12-21 20:17] geral2 commented on #41
Great approach, I'll take note at it.

You're very welcome.

[2020-12-21 20:17] #41 closed

[2020-12-21 23:46] sramsay335i opened #42 "Oauth 2 with APICaller_POST_Encoded"
Hi Geral,

   When I use the your SQL example, I get the following json string back:{"access_token":"5f36e31256c2db5ec3d68f6b5206aafa23c6ab6f","expires_in":3600,"token_type":"Bearer","scope":"api"}
   I was expecting to get back the json result of the API I was calling in the @audience variable.   Here's the SQL example I am using:

DECLARE @wurl VARCHAR(MAX)	= 'https://westshorelms.docebosaas.com

[2020-12-22 17:29] geral2 commented on #42
Hi @sramsay335i,
Could you please add the code below after your select context from @result;

Let me know if it works. Keep in mind you need to create the procedure dbo.APICaller_GETAuth.

[code]

[2021-02-01 21:12] Devmangr opened #43 "Question"
Hello Geral.
May I ask if I can get a pull request or if can advise me how I can fix it?
Thanks in advance

[2021-02-16 15:06] hajrah opened #44 "ERROR: Procedure APICaller_POST_Extended - Column name or number of supplied values does not match table definition."
Hi,

I am facing this issue while using APICaller_POST_Extended and can't seem to resolve it. The details passed are correct as APICaller_POST_JsonBody_Header works perfectly. I am assuming there is an issue while receiving data into the table @JResp. The code for that is the same from your example. It can be something silly too that my eyes haven't caught. Hope you can help.

--------------------

[2021-02-16 15:24] geral2 commented on #44
Hi @hajrah,

Could you comment out this line --insert into @jresp?. Just to confirm if it's returning what it should.

--insert into @jresp
EXEC @i = [APICaller_POST_Extended] @url, @Header, @Body

[2021-02-16 16:14] hajrah commented on #44
Hi @geral2

After commenting it gives an error stating "Object reference not set to an instance of an object."

Screenshot attached

![APICaller_POST_Extended_NoInsert](https://user-images.githubusercontent.com/11899601/108090001-9b1ffb80-7093-11eb-9847-c12f182f84a7.JPG)

[2021-02-16 20:16] geral2 commented on #42
Hey, @sramsay335i  Did it work?

[2021-02-18 02:20] geral2 commented on #43
Hi @Devmangr, What are you trying to fix?.. What issue are you getting?

[2021-02-22 01:47] #43 closed

[2021-02-22 01:49] #42 closed

[2021-02-22 01:50] #36 closed

[2021-02-22 01:51] #44 closed

[2021-04-03 17:40] gknoll9862 opened #47 "Feature request Accept property handler"
Could you please add a handler to apply the Accept values to the HttpWebRequest.Accept property?

Thank you

Greg

[2021-04-05 15:08] geral2 commented on #47
Hello @gknoll9862,

What property are you trying to apply?
Just to confirm if that can be done through the Header cofllection.

[2021-04-05 15:48] gknoll9862 commented on #47
Geraldo,

Thank you for replying.

I am working on consuming data from UPS Shipping for tracking packages.

When I send the request, I get this response:

“The 'Accept' header must be modified using the appropriate property or method.  Parameter name: name"

The Content Type and the Accept elements are required by the UPS API.

GO
DECLARE @httpMethod nvarchar(max) = 'GET'
DECLARE @URL nvarchar(max

[2021-04-05 15:51] geral2 commented on #47
Did you try calling that API from Postman?... If so could you please show the headers and parametters passed?

[2021-04-05 16:39] gknoll9862 commented on #47
Geraldo,

I am trying that now. But for some reason I am getting an invalid Access License Number message.
Which is not correct because the number I am using is currently in production.

I will get back to you.

Thank you

Greg

From: Geraldo Diaz ***@***.***>
Sent: Monday, April 5, 2021 10:52
To: geral2/SQL-APIConsumer ***@***.***>
Cc: Greg Knoll ***@***.***>; Mention ***@***.***>
Subject: Re: [g

[2021-04-05 17:12] gknoll9862 commented on #47
Geraldo,

I figured out the issue I was having with PostMan.

Here is the Header code that is sent. I am getting a proper response with the information requested.
There are no other parameters required for this request.

curl --location --request GET 'https://onlinetools.ups.com/track/v1/details/1Zxxxxxx0147529327' \
--header 'username: SomeName' \
--header 'Password: Somepassword' \
--header 'Acc

[2021-04-05 18:22] geral2 commented on #47
Got it, I'll be uploading a new version which assign that Accept value from headers to the httprequest.
In addition to a table value function object which returns the result set without needing that table variable be declared.

[2021-04-05 18:25] gknoll9862 commented on #47
Geraldo,

Thank you so much!

You have no idea how useful this is! But then maybe you do😊😊.

Thank you

Greg

From: Geraldo Diaz ***@***.***>
Sent: Monday, April 5, 2021 13:23
To: geral2/SQL-APIConsumer ***@***.***>
Cc: Greg Knoll ***@***.***>; Mention ***@***.***>
Subject: Re: [geral2/SQL-APIConsumer] Feature request Accept property handler (#47)

Got it, I'll be uploading a new version which ass

[2021-08-23 22:36] joelmiles commented on #47
Curious when this new version will be uploaded.  I'm hitting the same problem.

Thanks for such a great tool!

[2021-08-31 11:24] patbc77 opened #48 "Consulta"
Buenas
He descargado el código y quería ver la funcionalidad como estaba desarrollada. Tengo visual studio 2015.
Version 4.8 y sql Server 2014.
Me da un error al intentar abrirlo y deduzco que no es compatible ¿correcto?

[2021-08-31 13:15] geral2 commented on #48
Saludos,

Deberia funcionar sin problemas en cualquier version igual o mayor a SQL Server 2012.

Actualmente lo trabajo en
![image](https://user-images.githubusercontent.com/5836150/131508986-51e72299-98f0-413e-ac0a-34379a64803a.png)

Pero deberia abrir en Visual Studio 2015+.

[2021-08-31 13:22] geral2 commented on #47
Hello there,

Sorry for the delay, This fix was already coded, I just need to test it and upload it. I haven't had much time these days.

But you could help testing it. I can upload a new branch. I added all the request properties below;

- "Host"
- "Referer"
- "MediaType"
- "TransferEncoding"
- "Accept"
- "Connection"
- "ConnectionGroupName"
- "Expect"
- "ContentLength"
- "Pipelined"
- "AllowAuto

[2021-08-31 13:28] gknoll9862 commented on #47
Thank you!
I will test this asap and get back to you!

Thank you

Greg Knoll
IT Systems Administrator
O: 763-551-4341
E: ***@***.******@***.***>

***@***.***

15300 25th Avenue North, Suite 600
Minneapolis, MN 55447

The information contained in this electronic mail message is confidential information intended only for the use of the individual or entity named above, and may be privileged. If the

[2021-09-15 14:19] ghost opened #49 "upgrade instructions"
I believe I am running version 2.2 but would like to upgrade to 2.3.5.  What is the recommended upgrade path?  Can I just replace the dll or do I need to start all over?  Any tips would be appreciated.

[2021-09-15 15:17] #49 closed, assigned to nobody

[2021-09-16 16:22] geral2 commented on #48
Saludos,

Esto respondio tu pregunta?

[2021-09-16 16:32] geral2 commented on #49
Hi @bradrg ,

Did you figure it out?

Sorry for the late response. I think the best way to do it. It's remove all the dependecies for API_COnsumer Assembly from DB.
Then remove that assembly and re-create everything.

There is a way in which we could basically alter the assembly with the latest version but it uses to fail if if there is any new parameter or renamed object.

Any issue let me know.

[2021-09-17 06:06] patbc77 commented on #48
Bueno yo no he conseguido abrir el código. Supongo que será por algo en la configuración del entorno.

[2021-10-24 01:06] gknoll9862 commented on #47
Greetings Mr. Diaz,

In your last post you mentioned you where going to start a new branch and upload the new code to be tested.
I am not seeing the new branch.

I would very much like to start testing some of this for you.

Thank you
Greg

[2021-11-23 23:25] sramsay335i opened #50 "Using POST to upload a SQL table"
Is it possible to do this curl command with APICaller_POST_Headers?   The HMI_DATA_20211019_1135 is the data table.

curl --location --request POST “https://xxx.xxx.xxx" --header “Content-Type: application/json” --data-raw “{
    \“data\“: [
        \“HMI_DATA_20211019_1135\”
    ]
}”

[2021-12-28 23:47] geral2 commented on #48
Puedes postear el error que te da?

[2021-12-28 23:47] #48 closed, assigned to nobody

[2021-12-28 23:55] geral2 commented on #50
Hi @sramsay335i,

Yes, but you will need to translate this curl request to a procedure parameters expected by this SP.

For instance;

![image](https://user-images.githubusercontent.com/5836150/147615580-67060c62-4f99-43d5-bfbb-c7f0d1675c3c.png)

![image](https://user-images.githubusercontent.com/5836150/147615599-061c7247-44a2-4b09-a5d3-dbfabd3aa57b.png)

[2022-02-08 17:36] rediajme opened #51 "Unterminated string."
Hi geral2

I have a problem when I use **APICaller_POST Extended**, I am sending the following json:

`{
    "eventName": "nps_tiendas_fisicas",
    "items": [
        {
            "email": "xxxxxxxxx@gmail.com",
            "attributes": {
                "CLIENTE": "742707",
                "NOMBRE": "xxxxxx xxxxxxx xxxxx",
                "FACTURA": "0002-00929",
                "NAME": "xxxxx

[2022-02-08 19:03] geral2 commented on #51
Hi @rediajme,

Could you please specify how are you sending the parameters in this procedure execution?

[2022-02-08 19:36] rediajme commented on #51
of course

thanks for your time

This procedure has 3 parameters (EXEC [dbo].[APICaller_POST_Extended] @wurl,@Header,@JSONbody)

the first two I am defining in this way :
`SET @header  = '[{
						"Name": "authorization",
						"Value" :"BaZTQzMzlhNjhGFhZjFiNjk3NDE"
					},
					{
						"Name": "Content-Type",
						"Value":"application/json
					}
					]';
	SET @wurl = 'https://track.XXX.com/cont

[2022-02-11 01:11] geral2 commented on #51
There is a missing " in teh header definition... in application/json. I think that may be the problem. :D

SET @header = '[{ "Name": "authorization", "Value" :"BaZTQzMzlhNjhGFhZjFiNjk3NDE" }, { "Name": "Content-Type", "Value":"application/json } ]'; SET @wurl = 'https://track.XXX.com/contacts/event/bulk'

[2022-02-18 22:43] geral2 commented on #51
Did it work? @rediajme

[2022-02-28 15:13] #51 closed, assigned to geral2

[2022-02-28 15:14] #50 closed, assigned to geral2

[2022-02-28 15:18] geral2 commented on #47
Hello @gknoll9862,

I forgot to mention but I uploaded a version with this change. Could you please take a look on brank  [release_v2.4](https://github.com/geral2/SQL-APIConsumer/tree/release_v2.4)

[2022-04-20 11:57] daveweb opened #52 "Use of proxy server"
Hi, is it possible that i can use a proxy server with SQL-APIConsumer?

[2022-05-11 14:35] sramsay335i opened #53 "Upgrade to .NET 4.8 breaks API_Caller"
Hi,
  We recently upgraded our database server with .NET 4.8 Framework in which our API_Caller dlls reside on.   This broke our API_Caller assemblies.

  The first error reported was the System.Runtime.Serialization.dll wasn't loaded.  I ran the following SQL from your site:
ALTER  ASSEMBLY [System.Runtime.Serialization]
FROM 'C:\Windows\Microsoft.NET\Framework64\v4.0.30319\System.Runtime.Serializ

[2022-05-11 15:03] sramsay335i commented on #53
Hi Geral,
  I uninstalled everything and re-installed all the assemblies/functions/stored procedures with success.   I probably should have done that before I posted this issue.
   Thanks and another thanks for a great piece of code, we use this multiple times a day.
Cheers,
Sean

[2022-05-11 15:03] #53 closed, assigned to nobody

[2022-05-11 21:58] geral2 commented on #53
Hi @sramsay335i,

I just saw it. Great to heard that it worked after reinstalling. I'll be updating a new version of this project soon. Where I did implement a table value function to calls the API for GET request. Avoiding to create temporary tables.

Appreciate the feedback.

[2022-09-06 06:14] wtsyung opened #54 "Could not find Type 'StoredProcedures' in assembly 'APIConsumer'."
I have followed the steps and create all assemblies.  As soon as I get to the point on creating the first sp "API.Caller_WebMethod" I hit this error "Could not find Type 'StoredProcedures' in assembly 'APIConsumer'."

There's one difference I made on creating System.Net.Http assembly is that I cannot use the one given from the your project due to some versioning issue?  I ended up created it using

[2022-09-06 09:01] wtsyung commented on #54
Sorry I've reading deeply on Step 5 from other threads.  It was saying to rebuild the DLL?  May I get to know what's the meaning to it?  I get the sense I have to use the dll given from the project, but I am lack of skills on creating an assembly using an older version of dll instead from GAC_MSIL.

Any help will be appreciated, thanks.

[2022-09-07 01:23] wtsyung commented on #25
Hi @cgeswein & @iamoop,
Greatly appreciated if you can tell me the steps to work out this problem in detail?

[2022-09-09 01:22] geral2 commented on #54
Hi @wtsyung, sorry for late response. Could you please paste the exact error message you're getting?

[2022-09-09 02:27] wtsyung commented on #54
Thanks for reading up, @geral2
First, if I tried create the assembly with the System.Net.Http.dll you provided,  This will be the error I am getting:

Warning: The Microsoft .NET Framework assembly 'system.net.http, version=4.0.1.0, culture=neutral, publickeytoken=b03f5f7f11d50a3a.' you are registering is not fully tested in the SQL Server hosted environment and is not supported. In the future, if

[2022-09-10 23:38] geral2 commented on #54
Could you please try deploying from this [release 2.3.5 ](https://github.com/geral2/SQL-APIConsumer/releases/tag/v2.3.5)sql script;
Especifically script 0 and 1.

https://github.com/geral2/SQL-APIConsumer/releases/download/v2.3.5/1.API_Consumer.v2.3.5.sql

Please let me know if any other issue.

[2022-09-26 18:01] sramsay335i opened #55 "Unable to install System.Net.Http assembly"
Hi Geral,
  I am trying to upgrade the API Consumer in our server so I can use the new web extended methods.
  I deleted all the stored procedures/functions/assemblies and am attempting to reinstall the assemblies.   I am stuck on the System.Net.Http assembly.   When I install it, I get the '...could not be installed because existing policy would keep it from being used.' message.
   Installing it

[2022-10-17 19:01] bierfust opened #56 "TSQL: Sign an API request in TSQL with signature encrypted with HMAC-sha256 and encoded by base64"
I would like to sign an API request in TSQL. The signature should be encrypted with HMAC-sha256 and be encoded by base64. The end result should be the signature stored in a variable. I hope you can help me out. Many thanks.

Key = 12aee25d-63d1-49ad-a83b-1fb9a0dc1334
String to sign = 1665925038934GET/api/v1/accounts

**Desired output**
Output Base64: Zh45s4j9EmRoKZEmjWZ3wp46ROTIOK6DNt4ifQ1ZuX0=

h

[2022-10-28 18:10] geral2 commented on #56
Hello @bierfust ,

I'll be checking this. I'll let you know.